html {
    background-color: black;
    color: white;
    font-family: "Orbitron", sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    margin-top: 10%;
    width: 15rem;
    height: 23.5rem;
    border: 2px red solid;
    border-radius: 5px;
}

.display {
    width: 15rem;
    height: 3.4rem;
    /* border-bottom: 2px red solid; */
    line-height: 3.4rem;
    font-size: 2.5rem;
    color: red;
    text-align: right;
}

.sum-display {
    height: 1.15rem;
    width: 15 rem;
    border-bottom: 1px red solid;
    font-size: 0.9rem;
    line-height: 1.15rem;
    color: yellowgreen;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    margin-top: 6px;
}

.btn {
    width: 3.25rem;
    height: 4rem;
    border: 1px blue solid;
    border-radius: 7px;
    margin: 3px;
    text-align: center;
    line-height: 4rem;
    font-size: 1.75rem;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(53, 47, 47);
}

.digits {
    color: red;
}

.foot-notice {
    text-align: center;
    font-size: 0.65rem;
    margin-top: 50px;
    color: yellowgreen;
}
